.demo1, .exos1, .exos2,  .demo2, .demo3, .demo4, .demo5, .exos3, .exos3_5, .demo6, .demo7, .exos4, .demo8, .demo9
, .exos5, .demo10, .exos6, .demo11, .demo12, .exos7, .demo13, .demo14, .demo15{
    height:500px;
    width:500px;
    border:1px solid black;
    float:left;
    margin-left:15px;
    margin-bottom:15px;
}